  body, nav{
    background-image: linear-gradient(160deg, rgb(199, 132, 45), rgb(194, 191, 14), rgb(199, 132, 45));
  }
  img {
    width: 50px;
    height: 50px;
}
.buttons {
    text-align: center;

}
.more-buttons {
    text-align: left;
    font-weight: 1000;
}
#inbox-text:hover, #sent-text:hover, #junk-text:hover, #archive-text:hover, #trash-text:hover {
    color: rgb(0, 47, 255);
}
.open-card {
    border: 2px rgb(0, 47, 255 ) solid;
}
.inbox {
    border-radius: 10px;
    max-height: 80vh;
    overflow: auto;
} 
h2{
text-align: left;
}
.send-button {
    justify-content: flex-end;
}
.card-body {
    text-align: left;
}

